

body {
font-family:sans-serif;
background-color: white;
margin: 0;
padding: 0;
}

h2{
  font-size: 1.75em;
}
.answer{
  height:400px;
  display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
   background-color: white;

}
.ans:hover{
  background-color: green;
}
.ans:checked{
  background-color: red;
}
.size {
  height:300px;
  display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
}
#one{
  background-color:#d1fffd;
}
#two{
  background-color: #9999cc
}
#three{
  background-color: #92adfd
}
#four{
  background-color: #7299cc
}
#five{
  background-color: #1292ed
}

.but{
  display:none;


}
input[type=radio]{
  display:none;
}
.ans{
  padding-top: 20px;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
  cursor: pointer;

}
/* From w3schools */
#button {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.butt{
  display:flex;
  justify-content: center;
  align-items: center;
}
.butter{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;

}
